name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  macos:
    strategy:
      matrix:
        xcode:
          - "13.2.1"  # Swift 5.5.2
          - "13.4.1"  # Swift 5.6.1
          - "14.0"    # Swift 5.7

    name: macOS 12 (Xcode ${{ matrix.xcode }})
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: make test-swift

  ubuntu:
    strategy:
      matrix:
        swift:
          - "5.5"
          - "5.6"
          - "5.7"

    name: Ubuntu (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    steps:
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v2
      - run: swift test

  windows:
    strategy:
      matrix:
        swift:
          - "5.5"
          - "5.6"
          #- "5.7"

    name: Windows (Swift ${{ matrix.swift }})
    runs-on: windows-2019

    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-${{ matrix.swift }}-release
          tag: ${{ matrix.swift }}-RELEASE

      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v2
      - run: swift build
      - run: swift test
